#root {
	margin: 0 auto;
	text-align: center;
}
#root,
html,
body,
.App {
	/* overflow: hidden; */
	height: 100vh;
}

.App {
	opacity: 0;
	background: url("/pattern.svg") repeat-x center center;
	background-size: 15rem;
	animation: fill 2s linear forwards;
}
