#root {
	margin: 0 auto;
	text-align: center;
}
#root,
html,
body,
.App {
	overflow: hidden;
}

.App {
	opacity: 0;
	background: url("/pattern.svg") repeat-x center bottom;
	background-size: 15rem;
	animation: fill 2s linear forwards;
}
